# Dependencias
node_modules/
.pnp
.pnp.js

# Carpetas de construcción / Producción
dist/
build/

# Variables de entorno (¡Súper importante!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuraciones de Editores y Sistemas Operativos
.vscode/
.idea/
.DS_Store
Thumbs.db